.um-steps {
  font-size: 0;
  width: 100%;
  line-height: 1.5;
  display: flex;
}
.um-steps,
.um-steps * {
  box-sizing: border-box;
}
.um-steps-item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  flex: 1;
  overflow: hidden;
}
.um-steps-item:last-child {
  flex: none;
}
.um-steps-item:last-child .um-steps-item-tail,
.um-steps-item:last-child .um-steps-item-title:after {
  display: none;
}
.um-steps-item-icon,
.um-steps-item-content {
  display: inline-block;
  vertical-align: top;
}
.um-steps-item-icon {
  border: 1PX solid #bbb;
  width: 22PX;
  height: 22PX;
  line-height: 22PX;
  border-radius: 22PX;
  text-align: center;
  font-size: 14PX;
  margin-right: 8PX;
  transition: background-color 0.3s, border-color 0.3s;
}
.um-steps-item-icon > .um-steps-icon {
  line-height: 1;
  top: -1PX;
  color: #108ee9;
  position: relative;
}
.um-steps-item-icon > .um-steps-icon .um-icon {
  font-size: 12PX;
  position: relative;
  float: left;
}
.um-steps-item-tail {
  position: absolute;
  left: 0;
  width: 100%;
  top: 12PX;
  padding: 0 10PX;
}
.um-steps-item-tail:after {
  content: '';
  display: inline-block;
  background: #ddd;
  height: 1PX;
  border-radius: 1PX;
  width: 100%;
  transition: background .3s;
  position: relative;
  left: -2PX;
}
.um-steps-item-content {
  margin-top: 3PX;
}
.um-steps-item-title {
  font-size: 16PX;
  margin-bottom: 4PX;
  color: #000;
  font-weight: bold;
  display: inline-block;
  padding-right: 10PX;
  position: relative;
}
.um-steps-item-description {
  font-size: 15PX;
  color: #bbb;
}
.um-steps-item-wait .um-steps-item-icon {
  border-color: #ccc;
  background-color: #fff;
}
.um-steps-item-wait .um-steps-item-icon > .um-steps-icon {
  color: #ccc;
}
.um-steps-item-wait .um-steps-item-icon > .um-steps-icon .um-steps-icon-dot {
  background: #ccc;
}
.um-steps-item-wait .um-steps-item-title {
  color: #000;
}
.um-steps-item-wait .um-steps-item-title:after {
  background-color: #ddd;
}
.um-steps-item-wait .um-steps-item-description {
  color: #000;
}
.um-steps-item-wait .um-steps-item-tail:after {
  background-color: #ddd;
}
.um-steps-item-process .um-steps-item-icon {
  border-color: #108ee9;
  background-color: #fff;
}
.um-steps-item-process .um-steps-item-icon > .um-steps-icon {
  color: #108ee9;
}
.um-steps-item-process .um-steps-item-icon > .um-steps-icon .um-steps-icon-dot {
  background: #108ee9;
}
.um-steps-item-process .um-steps-item-title {
  color: #000;
}
.um-steps-item-process .um-steps-item-title:after {
  background-color: #ddd;
}
.um-steps-item-process .um-steps-item-description {
  color: #000;
}
.um-steps-item-process .um-steps-item-tail:after {
  background-color: #ddd;
}
.um-steps-item-process .um-steps-item-icon {
  background: #108ee9;
}
.um-steps-item-process .um-steps-item-icon > .um-steps-icon {
  color: #fff;
}
.um-steps-item-finish .um-steps-item-icon {
  border-color: #108ee9;
  background-color: #fff;
}
.um-steps-item-finish .um-steps-item-icon > .um-steps-icon {
  color: #108ee9;
}
.um-steps-item-finish .um-steps-item-icon > .um-steps-icon .um-steps-icon-dot {
  background: #108ee9;
}
.um-steps-item-finish .um-steps-item-title {
  color: #000;
}
.um-steps-item-finish .um-steps-item-title:after {
  background-color: #108ee9;
}
.um-steps-item-finish .um-steps-item-description {
  color: #000;
}
.um-steps-item-finish .um-steps-item-tail:after {
  background-color: #108ee9;
}
.um-steps-item-error .um-steps-item-icon {
  border-color: #f4333c;
  background-color: #fff;
}
.um-steps-item-error .um-steps-item-icon > .um-steps-icon {
  color: #f4333c;
}
.um-steps-item-error .um-steps-item-icon > .um-steps-icon .um-steps-icon-dot {
  background: #f4333c;
}
.um-steps-item-error .um-steps-item-title {
  color: #f4333c;
}
.um-steps-item-error .um-steps-item-title:after {
  background-color: #ddd;
}
.um-steps-item-error .um-steps-item-description {
  color: #f4333c;
}
.um-steps-item-error .um-steps-item-tail:after {
  background-color: #ddd;
}
.um-steps-item.um-steps-next-error .um-steps-item-title:after {
  background: #f4333c;
}
.um-steps-item.error-tail .um-steps-item-tail:after {
  background-color: #f4333c;
}
.um-steps-horizontal:not(.um-steps-label-vertical) .um-steps-item {
  margin-right: 10PX;
}
.um-steps-horizontal:not(.um-steps-label-vertical) .um-steps-item:last-child {
  margin-right: 0;
}
.um-steps-horizontal:not(.um-steps-label-vertical) .um-steps-item-tail {
  display: none;
}
.um-steps-horizontal:not(.um-steps-label-vertical) .um-steps-item-description {
  max-width: 100PX;
}
.um-steps-item-custom .um-steps-item-icon {
  background: none;
  border: 0;
  width: auto;
  height: auto;
}
.um-steps-item-custom .um-steps-item-icon > .um-steps-icon {
  font-size: 22PX;
  top: 1PX;
  width: 22PX;
  height: 22PX;
}
.um-steps-item-custom.um-steps-item-process .um-steps-item-icon > .um-steps-icon {
  color: #108ee9;
}
.um-steps-small .um-steps-item-icon {
  width: 18PX;
  height: 18PX;
  line-height: 18PX;
  text-align: center;
  border-radius: 18PX;
  font-size: 14PX;
  margin-right: 8PX;
}
.um-steps-small .um-steps-item-icon > .um-steps-icon {
  font-size: 12PX;
  transform: scale(0.75);
  top: -2PX;
}
.um-steps-small .um-steps-item-content {
  margin-top: 0;
}
.um-steps-small .um-steps-item-title {
  font-size: 16PX;
  margin-bottom: 3PX;
  color: #000;
  font-weight: bold;
}
.um-steps-small .um-steps-item-description {
  font-size: 12PX;
  color: #bbb;
}
.um-steps-small .um-steps-item-tail {
  top: 8PX;
  padding: 0 8PX;
}
.um-steps-small .um-steps-item-tail:after {
  height: 1PX;
  border-radius: 1PX;
  width: 100%;
  left: 0;
}
.um-steps-small .um-steps-item-custom .um-steps-item-icon {
  background: none;
}
.um-steps-small .um-steps-item-custom .um-steps-item-icon > .um-steps-icon {
  font-size: 18PX;
  top: -2PX;
  transform: none;
}
.um-steps-vertical {
  display: block;
}
.um-steps-vertical .um-steps-item {
  display: block;
  overflow: visible;
}
.um-steps-vertical .um-steps-item-icon {
  float: left;
}
.um-steps-vertical .um-steps-item-icon-inner {
  margin-right: 16PX;
}
.um-steps-vertical .um-steps-item-content {
  min-height: 48PX;
  overflow: hidden;
  display: block;
}
.um-steps-vertical .um-steps-item-title {
  line-height: 26PX;
}
.um-steps-vertical .um-steps-item-title:after {
  display: none;
}
.um-steps-vertical .um-steps-item-description {
  padding-bottom: 12PX;
}
.um-steps-vertical .um-steps-item-tail {
  position: absolute;
  left: 13PX;
  top: 0;
  height: 100%;
  width: 1PX;
  padding: 30PX 0 4PX 0;
}
.um-steps-vertical .um-steps-item-tail:after {
  height: 100%;
  width: 1PX;
}
.um-steps-vertical.um-steps-small .um-steps-item-tail {
  position: absolute;
  left: 9PX;
  top: 0;
  padding: 22PX 0 4PX 0;
}
.um-steps-vertical.um-steps-small .um-steps-item-title {
  line-height: 18PX;
}
.um-steps-label-vertical .um-steps-item {
  overflow: visible;
}
.um-steps-label-vertical .um-steps-item-tail {
  padding: 0 24PX;
  margin-left: 48PX;
}
.um-steps-label-vertical .um-steps-item-content {
  display: block;
  text-align: center;
  margin-top: 8PX;
  width: 100PX;
}
.um-steps-label-vertical .um-steps-item-icon {
  display: inline-block;
  margin-left: 36PX;
}
.um-steps-label-vertical .um-steps-item-title {
  padding-right: 0;
}
.um-steps-label-vertical .um-steps-item-title:after {
  display: none;
}
